/* Basic Colors and Styling */

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

img {
    height: max-content;
}

.signup-button {
    border: none;
    border-radius: 6px;
    color: #E5E7EB;
    padding: 6px 24px;
    text-align: center;
}

.header, .footer {
    background-color: #1F2937;
}

.hero > .text-container > .headtext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero > .text-container > .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.signup-button, .action-banner {
    background-color: #3882F6;
}

.info > .headtext {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.quote-content {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

/* Flex and Positioning */

.header {
    padding: 0px 144px;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    align-items: baseline;
}

ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 32px;
}

.hero {
    padding: 96px 0px;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.hero > .text-container > * {
    margin-bottom: 8px;
    max-width: 400px;
}